<div class="container">
<div class="col-lg-6">

  <label><strong>Dispatcher Name</strong></label><br/>

  <select [(ngModel)]="dispatcherID" style="width: 25%;" placeholder="Dispatcher Name">
      <!-- <option value="0">--Select Category--</option> -->
      <option *ngFor="let s of dispatcherList"  value={{s._id}} >
          {{s.name}}
      </option>
  </select>
&nbsp;
  <button mat-raised-button color="primary" (click)="assignorders(dispatcherID)">Assign Orders</button>
</div>


<ngx-datatable
                class="material ml-0 mr-0"
                [rows]="OrderList"
                [columnMode]="'flex'"
                [headerHeight]="50"
                [footerHeight]="50"
                [limit]="10"
                [rowHeight]="'auto'"
                [selected]="selected"
          [selectionType]="'checkbox'"
          [selectAllRowsOnPage]="false"
          (select)='onSelect($event)'>

          <ngx-datatable-column name="Select All" [flexGrow]="1"


          [sortable]="false"
          [canAutoResize]="false"
          [draggable]="false"
          [resizeable]="false"
          [headerCheckboxable]="true"
          [checkboxable]="true"
          >

      </ngx-datatable-column> 

        
                <ngx-datatable-column name="Order Number" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                   {{row?.order_id}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Customer Name" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                   {{row?.user.name}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Phone Number" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                   {{row?.user.phonenumber}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Bill Date" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                   {{row?.createdOn | date}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Payment Status" [flexGrow]="1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                     {{row?.payment_status}}
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="Order Status" [flexGrow]="1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                     {{row?.status}}
                    </ng-template>
                  </ngx-datatable-column>

                <ngx-datatable-column name="Actions" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>


                    <button mat-icon-button mat-sm-button color="accent" title="Description" (click)="orderDetails(row)"><mat-icon>description</mat-icon></button>

                    <button mat-icon-button mat-sm-button color="warn" title="update payment" (click)="updatePayment(row)"><mat-icon>update</mat-icon></button>

                    <button mat-icon-button mat-sm-button color="primary" title="Generate Invoice" (click)="GenerateInvoice(row)"><mat-icon>receipt</mat-icon></button>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
</div>
